---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---

<ZineTableOfContents zineIssue="z2" zineTitle="Zine 2: Summer 2020">
  <img src="/assets/images/zine/z2/z2-cover.jpg" alt="" srcset="" />
  <p>An impromptu print issue.</p>
  <a href="/assets/images/zine/z2/Soupbone-Summer-2020-Zine.pdf"
    >CLICK HERE TO READ</a
  >
</ZineTableOfContents>
