---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import Members from "../../components/Members.astro";
import SoupboneFriends from "../../components/SoupboneFriends.astro";
import * as content from "./artists-note.md";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style></style>
  </head>
  <body>
    <Header />
    <main>
      <h3>Current Members</h3>
      <Members />
      <h3>Soupbone Friends</h3>
      <SoupboneFriends />
      <hr />
      <section>
        <h3>{content.frontmatter.title}</h3>
        <Fragment set:html={content.compiledContent()} />
        <!-- Like innerHTML, set:html injects the HTML from compiledContent (compiles Markdown to an HTML string) -->
      </section>
    </main>
    <Footer />
  </body>
</html>
