---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---

<ZineTableOfContents zineIssue="z7" zineTitle="Zine 7: Play">
  <p>
    In conversation with our previous zine on “work,” this issue is a
    celebration of all forms and meanings of “play,” from board games to
    collaborative collages to soundscapes drenched in dreams and reverie. Here,
    we take seriously what play can mean as resistance to productivity, as a way
    to honor joy and delight, yet we also recognize the obligations it releases
    us from, tethered only to castles in the sky and the frolicking footsteps of
    our imagined selves.
  </p>
  <p style="font-style: italic;">
    Published December 2022 | Edited by Phoebe Pan
  </p>
</ZineTableOfContents>
