---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---
<style>
div {text-align: center;}
</style>

<ZineTableOfContents zineIssue="z9" zineTitle="Zine 9: Craft">
<figure>
    <img src="/assets/zine/z9/cyanotype.jpg" alt="" srcset="" />
    <figcaption>Cyanotype by H.Z.</figcaption>
  </figure>
  <p>
    What does it mean to make things? Digital, physical, tangible or intangible? We make crafts as children and we keep making things as adults, only it’s different. This zine is a meditation on craft——less the indistinct stylistic endeavor of artistic craft and more concerned with the actual act of making things and how others make things. How much does what we make reflect who we are? How can we cut and paste, refashion, and reshape our past selves into who we want to be? Through essays, email exchanges, and illustrations about craft——costuming, tailoring, and everything in between——we pick up new lenses and look at ourselves in ways those who made us never could have imagined, burrowing somewhere deep in the in-between.
  </p>
  <p style="font-style: italic;">
    Published August 2024 | Edited by Lauren Ehrmann, Tiffany Xie, and H.Z.
    <br />
  </p>
  <br>
  <hr>
  <p>
  <div>
  <a href="/assets/zine/z9/soupbonecraftzineprintout.pdf">Click here to download the print version!</a>
  </div>
  </p>
  <hr>
  <br>
  <h3>Contents</h3>
</ZineTableOfContents>
