---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---

<ZineTableOfContents zineIssue="z9" zineTitle="Zine 9: Craft">
  <p>
    What does work mean at an individual level? What happens when aesthetics
    become an aspect of our production? What does release from labor look like?
    In Soupbone’s sixth zine, we’re exploring these questions through paintings,
    essays, illustrations, and stories, while also examining the different ways
    we work at home, in public, and on ourselves.
  </p>
  <p style="font-style: italic;">
    Published August 2024
    <br />
    <br />
    Edited by Lauren Ehrmann, Tiffany Xie, and H.Z.
    <br />
    Copy-editing by Thalia Taylor and Calla Norman
    <br />
    <br />
  </p>
  <h3>Contents</h3>
</ZineTableOfContents>
