---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---

<ZineTableOfContents zineIssue="z4" zineTitle="Zine 4: Spirituality">
<br>
  <img src="/assets/zine/z4/dock1.gif" alt="" srcset="" />
  <p>
    How do we engage with spirituality? How can rituals and routines connect us
    to something greater? Where do we find comfort? How do our spiritual modes
    relate to our daily lives? In this zine, we’re sharing poetry, essays,
    visual work, and guided meditations to explore different forms and methods
    of spiritual practice.
  </p>
  <p style="font-style: italic;">
    Published May 2021 | Edited by Thalia Taylor and Clark Gudas
  </p>
  <br>
<h3>Contents</h3>
</ZineTableOfContents>
