@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap");

@font-face {
  font-family: "FT88-Gothique";
  src: url("/fonts/FT88-Gothique.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "avara";
  src: url("/fonts/avara.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Baskervville", serif;
  font-size: 1.3em;
  margin: auto;
  padding: 24px;
  max-width: 70ch;
  text-align: left;
  background-color: #faf9f6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #373737;
}
h2 {
  font-family: "FT88-Gothique";
  font-size: 1.5em;
  font-weight: lighter;
}

h1,
h3,
h4,
h5,
h6 {
  font-family: "avara", serif;
}

header {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.9em;
}
p {
  text-align: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #171717;
}
a {
  color: #3d915b;
}
a:hover {
  color: #851c1c;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 2px dotted #999;
  border-radius: 5px;
  color: #171717;
  padding: 2px 20px 2px 20px;
  margin: 0px;
  font-style: italic;
}
figcaption {
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  font-size: 0.7em;
  text-align: center;
}
