@import url("https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap");

body {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.4em;
  margin: auto;
  padding: 24px;
  max-width: 78ch;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #373737;
}
h1,
h2,
h3,
h4,
h5,
h6,
header {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #171717;
}
a {
  color: #3273dc;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: #f2f2f2;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #171717;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
/* derived from this codepen: https://codepen.io/mubangadv/pen/rXrOQa 
and joy
*/
.messages {
  padding: 0.5rem;
  background: #ffffff;
  font-family: "Trebuchet MS";
  font-size: 1em;
	font-style: normal;
	font-weight: 400;
}
.messages .message {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
}
.messages .message.left {
  margin: 1rem;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  color: black;
  background-color: #ededed;
}
.messages .message.right {
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.25rem 1.25rem 0 1.25rem;
  color: black;
  background-color: #ededed;
}

/*chatbox design for margaret and holly's piece*/

.chatbox {
  padding: 0.5rem;
  background: white;
  font-family: sans-serif;
}

.chatbox .chat {
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  min-height: 2.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 60%;
}

.chatbox .chat.right {
  margin: 1rem 1rem 1rem auto;
  border-radius: 1.25rem 1.25rem 0 1.25rem;
  color: #52853c;
  border: solid #6aa84f;
  background-color: #FFFFFF;
  text-align: right;
}

.chatbox .chat.left {
  margin: 1rem;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  color: #674ea7;
  border: solid #674ea7;
  background-color: #FFFFFF;
  text-align: left;
}