---
const year = new Date().getFullYear();
---

{
  /* Reference for dynamic footer date: https://astro-tips.dev/recipes/dynamic-footer-date-for-static-websites/
   */
}

<footer>
  &copy; <span id="footer-year">{year}</span> Soupbone: A Humanities Collective
  <br />
  <img src="/assets/footer-icon.png" alt="" />
</footer>

<script is:inline>
  document.getElementById("footer-year").innerText = new Date().getFullYear();
</script>

<style>
  footer {
    padding: 25px;
    text-align: center;
    font-size: 0.6em;
    font-style: italic;
    font-family: "IBM Plex Mono", monospace;
  }
  img {
    width: 52px;
    margin-top: 0.8rem;
    mix-blend-mode: multiply;
  }
</style>
