---
import { getCollection } from "astro:content";

const friends = await getCollection("friends");
---

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.6em;
    row-gap: 1em;
  }
  .friends {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.25em;
  }
  @media (max-width: 768px) {
    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 0em;
      row-gap: 1em;
    }
  }
  figcaption {
    text-align: left;
  }
</style>

<section>
  <ul class="grid-wrapper">
    {
      friends.map((friends) => (
        <li class="friends">
          <div>
            <img src={friends.data.image} alt="" />
          </div>
          <div>
            <h4>{friends.data.name}</h4>
            <figcaption>{friends.data.description}</figcaption>
          </div>
        </li>
      ))
    }
  </ul>
</section>
