---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 0.1rem solid black;
    box-shadow: 3px 3px #bbb;
    padding: 0.15rem 0.5rem;
  }
  a.active {
    color: black;
    background-color: #fcf5e5;
  }
  a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
</style>
