---
import { getCollection } from "astro:content";

interface Props {
  zineIssue: string;
}

const { zineIssue } = Astro.props;

const posts = await getCollection("zine", ({ id }) => {
  return id.startsWith(zineIssue);
});

posts.sort((a, b) => a.data.ordering.valueOf() - b.data.ordering.valueOf());
---

<style>
  ul {
    line-height: 3.6rem;
    list-style-type: none;
    padding-left: 0;
  }
</style>

<section>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/zine/${post.slug}/`}>{post.data.title}</a>
          by {post.data.author}
        </li>
      ))
    }
  </ul>
</section>
