---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---

<ZineTableOfContents zineIssue="z6" zineTitle="Zine 6: Work">
  <p>
    What does work mean at an individual level? What happens when aesthetics
    become an aspect of our production? What does release from labor look like?
    In Soupbone’s sixth zine, we’re exploring these questions through paintings,
    essays, illustrations, and stories, while also examining the different ways
    we work at home, in public, and on ourselves.
  </p>
  <p style="font-style: italic;">
    Published May 2022 | Edited by Thalia Taylor and Clark Gudas
  </p>
  <br>
  <h3>Contents</h3>
</ZineTableOfContents>
