---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---

<ZineTableOfContents zineIssue="z5" zineTitle="Zine 5: Sound">
  <p>
    As the pandemic progresses, Soupbone has been spending more and more time in
    recorded soundscapes. We have been modulating the sounds that surround us to
    be more productive and also to relax. We’ve been questioning our
    relationship to noise, and our own taste in music. What does it mean for
    sound to be good or bad and who gets to decide? How does music make us feel?
    How are our relationships with ourselves and others shaped by sound? This
    winter, we listen closer to the sounds around us as we analyze our
    relationships to noise, music, silence, and listening. We invite you to
    listen with us.
  </p>
  <p style="font-style: italic;">
    Published November 2021 | Edited by Thalia Taylor and Clark Gudas
  </p>
</ZineTableOfContents>
