---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import IssueCard from "../../components/IssueCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

interface Zine {
  volume: number;
  title: string;
}

const issues: Zine[] = [
  { volume: 1, title: "Identities" },
  { volume: 2, title: "Summer 2020" },
  { volume: 3, title: "Gratitude" },
  { volume: 4, title: "Spirituality" },
  { volume: 5, title: "Sound" },
  { volume: 6, title: "Work" },
  { volume: 7, title: "Play" },
  { volume: 8, title: "Apocalypse" },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
      }
      ul li {
        display: flex;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h3>Zine Archive</h3>
      <section>
        <ul>
          {
            issues.map((issue) => (
              <IssueCard volume={issue.volume} title={issue.title} />
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
