---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---

<ZineTableOfContents zineIssue="z3" zineTitle="Zine 3: Gratitude">
  <p>
    How do we activate gratitude in our lives and for each other? How can
    practicing gratitude make us better equipped to engage with the world? How
    does our study of the humanities allow us to critically think about
    gratitude? How can critique mobilize thankfulness? How do we reconcile
    gratitude for this world and the dissatisfaction needed to produce social
    change? In this workbook, we invite you to help us answer these questions.
  </p>
  <p style="font-style: italic;">
    Published December 2020 | Edited by Tiffany Xie
  </p>
</ZineTableOfContents>
