---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---


<ZineTableOfContents zineIssue="z1" zineTitle="Zine 1: Identities">
<br>
  <blockquote>
    <p>“But more and more we can see that the question is not whether we are
    ‘individuals.’ We can't help but be, this has been proved, case by case. We
    are not drones or robots and never will be. The question, then, is whether
    being an ‘individual’ makes a difference anymore. That it can matter at all.
    And if not, whether we in fact care.” —Chang-Rae Lee, On Such A Full Sea</p>
  </blockquote>
  <p>
    How does one define identity? What does it mean to be an individual? And, as
    Lee asks: to what extent does being an ‘individual’ matter or make a
    difference? In Soupbone’s inaugural zine, we explore these questions through
    essays, poems, interviews, and visual work, while also examining topics of
    collective and cultural identities from distances near and far.
  </p>
  <p style="font-style: italic;">Published April 2020 | Edited by Phoebe Pan</p>
  <br>
  <h3>Contents</h3>
</ZineTableOfContents>
<br>
