---
import ZineTableOfContents from "../../../layouts/ZineTableOfContents.astro";
---

<style>
  figcaption {
    font-style: italic;
    text-align: center;
  }
  img {
    width: auto;
  }
</style>

<ZineTableOfContents zineIssue="z8" zineTitle="Zine 8: Apocalypse">
  <p style="font-style: italic;">
    Published May 2023 | Edited by Calla Norman & Phoebe Pan
  </p>
  <figure>
    <img src="/assets/zine/z8/AOT_Meadow.jpg" alt="" srcset="" />
    <figcaption>"Before the Storm" by Cindy Liu</figcaption>
  </figure>
  <h3>Overview</h3>
  <p>
    Thank you for expressing interest in this survey conducted by the Archive of
    Obsolete Feelings (AOF), a branch of the Department of Futurity. Our goal is
    to ensure the preservation and continuation of forms of expression that have
    been abandoned or rejected since the world changed: feelings that have no
    discernable place in the world we now inhabit.
  </p>
  <p>
    This survey was conducted during the Fourth season of the Aftermath. We
    deployed the word “apocalypse” broadly, asking participants to respond to
    the term however they saw fit, in whatever way they envisioned and had
    experienced in their own corner of this apocalypse. Responses varied from
    paragraphs, to full or half sentences, to bullet points, to sketches.
  </p>
  <p>
    Responses to this survey were compensated via resource trade—ex: a book, a
    cast iron pan, a packet of seeds, a new pair of boots, a song, an embrace, a
    ride across the river. Value was approximated through collaborative means
    between the participants and the researcher(s).
  </p>
  <p>
    Below is a selected archive of responses (whose authors have agreed to share
    these publicly). For those who are interested, a blank survey form is
    available as well, which you can fill out and use for your own research.
  </p>
  <ul>
    <li>
      <a href="/assets/zine/z8/XieT-AOF-Survey.pdf">Archive_File_11_TX</a>
    </li>
    <li>
      <a href="/assets/zine/z8/Norman-AOF-Survey.pdf">Archive_File_31_CN</a>
    </li>
    <li>
      <a href="/assets/zine/z8/AOF-Survey_Phoebe_Theo.pdf">Archive_File_54_T</a>
    </li>
    <li>
      <a href="/assets/zine/z8/AOF-Survey_Damon.pdf">Archive_File_89_D</a>
    </li>
    <li><a href="/assets/zine/z8/AOF-Survey.pdf">Survey_File_Printable</a></li>
  </ul>
  <p>
    Selected responses to this survey, including the ones above, were bound into
    a collected tome and printed with an accompanying artwork from an artist at
    the Preservation Library. While the Library has since lost its physical copy
    of the tome (following the catastrophic upheavals of the Fifth season), they
    have been able to recover selections through their backup digitization
    efforts.
  </p>
  <h3>Artist's Note</h3>
  <p><i>By Cindy Liu</i></p>
  <p>
    For our zine theme, I wanted to explore the peculiar sense of existing at
    the cusp of an apocalypse. I am interested in the onset of dread, despite
    everything around us seemingly pristine and beautiful, and how we try
    desperately to save what we might lose, all the while having already grieved
    the possibility of losing everything. This cover is inspired by the
    phenomenal premiere of Attack on Titan The Final Season, Part 3. Living
    within an apocalyptic world is harrowing enough, but the show deftly
    examines how we get there and why it's often too late to turn back. This
    piece is inspired by The Final Season's outro credits, which is coupled with
    a soaring, earnest OST that perfectly encapsulates the nostalgia of what
    once was and the triumph of resisting oppression to create our own kind of
    freedom.
  </p>
  <p><i>Drawn by hand on Procreate for iPad</i></p>
  <p>Brushes:</p>
  <ul>
    <li>Inking: Studio Pen, Technical Pen, Gel Pen</li>
    <li>Painting: Soft Brush, Round Brush</li>
    <li>Luminance: Glimmer, Bokeh Lights, Lightbrush</li>
  </ul>
</ZineTableOfContents>
